{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>CONTACT PAGE</title>
{% endblock %}

{% block content %}
<marquee><h1 style="color: blue;">admissions are open</h1></marquee><br>
    <center><h1>principle of becbgk</h1></center><br>
    <center><img src="{% static 'images/bechead.jpg' %}" alt=""></center><br>
    <center><img src="{% static 'images/princi.jpg' %}" alt=""></center><br>
    <center><h2>name: Veeresh Hiremath </h2></center><br>
    <center><h2>phno: 9591047126</h2></center><br>
    <center><h2>email: veereshnj126@gmail.com</h2></center><br>
    <center><p>becbgk bagalkot/navanagar/586124</p></center><br>
{% endblock %}